*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
.container {
    max-width: 900px;
    margin: 0 auto;

    
}

.debug{
    .container{
        border: 1px solid red;
    }
 }
/* style header */
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    flex-direction: column;

}
.header-wrapper p {
    font-size: 10px;
    color: grey;
    max-width:300px ;
    text-align: left;
    
}
.input-wrapper{
    text-align: right;
    color: grey;
    font-size: 10px;
    align-self: flex-end;
}
 /* style card */
 .card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 10px;
    box-shadow: 1px 2px 6px 4px #d8d4d454;
 }
 body {
    font-family: sans-serif;
    padding: 10px;
 }
 .offers {
    padding-left: 15px;
}
.plan-description{
    color: grey;
    font-size: smaller;
}
.price{
    font-weight: 600;
    font-size: 2.5rem;

}
.price-wrapper{
    text-align: center;
}
.sale-wrapper{
    font-size: 10px;
    .sale {
        background-color: lightgrey;
        padding: 4px;
        border-radius: 4px;
    }
}
.card-btn{
    width: 240px;
    margin: 1.5rem auto;
    border: 0px;
    border-radius:10px ;
    min-height: 2rem;
    
    
}
.offers{
    margin-top: 1rem;
    margin-bottom: 1rem;
    .offer{
        padding: 4px;
    }
}
.page-container{
    max-width: 1000px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}

