*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
.container {
    max-width: 900px;
    margin: 0 auto;

    
}

.debug{
    .container{
        border: 1px solid red;
    }
 }

 /* style card */
 .card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 3rem;
    
 }
 body {
    font-family: sans-serif;
 }
 .offers {
    padding-left: 15px;
}
.plan-description{
    color: grey;
    font-size: smaller;
}
.price{
    font-weight: 600;
    font-size: 2.5rem;
    position: ;
}
.price-wrapper{
    text-align: center;
}
.sale-wrapper{
    font-size: 10px;
    .sale {
        background-color: lightgrey;
        padding: 4px;
        border-radius: 4px;
    }
}
.card-btn{
    width: 240px;
    margin: 1.5rem auto;

    
    
}
.offers{
    margin-top: 1rem;
    margin-bottom: 1rem;
    .offer{
        padding: 4px;
    }
}