*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

/* style header */
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    flex-direction: column;

}
.header-wrapper p {
    font-size: 10px;
    color: grey;
    max-width:300px ;
    text-align: left;
    
}
.input-wrapper{
    text-align: right;
    display: flex;
    color: grey;
    font-size: 10px;
    align-self: flex-end;
    align-items: center;
}

 
 body {
    font-family: sans-serif;
    padding: 10px;
    
 }
 .offers {
    padding-left: 15px;
}
.plan-description{
    color: grey;
    font-size: smaller;
}
.price{
    font-weight: 600;
    font-size: 2.5rem;

}
.price-wrapper{
    text-align: center;
}
.sale-wrapper{
    font-size: 10px;
    
}
.sale-wrapper .sale {
    background-color: lightgrey;
    padding: 4px;
    border-radius: 4px;
}
.card-btn{
    width: 90%;
    margin: 1.5rem auto;
    border: 0px;
    border-radius:10px ;
    min-height: 2rem;
    
    
}
.offers{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.offers .offer{
    padding: 4px;
}
.page-container{
    max-width: 1000px;
    margin: 0 auto;
}
.bi {
    font-size: 2rem;
    color: black;
}
.bi-toggle-on,
.bi-toggle-off{
    font-size: 1.5rem;
    padding: 4px;
    
}
.bi-toggle-off{
    color: grey;
}
.professional .bi{
    color: white;
}


/* basic and ultimate buttons */
div.basic button,
div.ultimate button{
    
    background-color:#5865F2; 
    
}
div.professional button{
    color: #5865F2;
}
div.professional{
    background-color: #5865F2;
    color: white;
}
div.professional span.sale{
    color: black;
}

div.professional span.plan-description{
    color: white;
}


.ultimate .features {
    display: flex;
    flex-wrap: wrap;
    width: 100%;  
}
.ultimate .feature {
    flex-grow: 1;
    flex-basis: 200px;
    
    margin-bottom: 10px;    
}
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;           
    max-width: 1000px;   
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
}
.card {
    flex-basis: 300px; 
    flex-grow: 1;
    flex-shrink: 1;         
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 4px #d8d4d454;
    
    
}
.feature {
    display: flex;
    align-items: center;
}
.bi-check2,
.bi-x{
    margin-right: 0.5rem;
}
